@font-face {
  font-family: "SVN";
  src: url("SVN-AGENCY-FB.ttf") format("truetype");
}

@font-face {
  font-family: "SVNB";
  src: url("SVN-AGENCY-FB-BOLD.ttf") format("truetype");
}

body {
  font-family: "SVN", sans-serif;
  background-color: #dfe4ed;
  font-size: 1.3em;
  letter-spacing: 2px;
}

.title-container {
  margin-top: 50px;
}

.title-container h1 {
  text-align: center;
  font-size: 2em;
  line-height: 0.7em;
  color: #0a45a3;
}

.logo-container {
  margin-top: -20px;
}

.logo-container img {
  display: block;
  margin: 0 auto;
  width: 13%;
  height: 13%;
}

.body-container {
  margin-top: -30px;
  margin-left: 70px;
}

#ho-so li {
  list-style: square;
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 1em;
}

#essay #essay-prompt {
  margin-left: 35px;
  font-size: 1.2em;
}

.tieu-luan {
  margin-bottom: 20px;
}

.tieu-luan .prompt {
  letter-spacing: 0px;
}

.tieu-luan .drop-zone {
  margin-left: 50px;
  background-color: #c0cee7;
  font-family: "SVNB";
  font-size: 0.7em;
  border: 2px dashed #0a45a3;
  width: 110px;
  height: 30px;
  float: left;
  margin-right: 20px;
}

.tieu-luan .drop-zone p {
  margin-top: 2px;
  text-align: center;
}

.tieu-luan .file-name {
  margin-top: 3px;
  font-size: 0.8em;
  float: left;
}

.footer {
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

.footer p {
  font-size: 0.8em;
}