@font-face {
  font-family: 'SVN';
  src:url('SVN-AGENCY-FB.ttf')  format('truetype')
}

@font-face {
  font-family: 'SVNB';
  src:url('SVN-AGENCY-FB-BOLD.ttf')  format('truetype')
}

body {
  font-family: 'SVN', sans-serif;
  background-color: #dfe4ed;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.title-container {
  margin-top: 50px;
}

.title-container h1 {
  text-align: center;
  font-size: 2em;
  line-height: 0.7em;
  color: #0a45a3;
}

.logo-container {
  margin-top: -20px;
}

.logo-container img {
  display: block;
  margin: 0 auto;
  width: 13%;
  height: 13%;
}

.body-container {
  margin-top: -30px;
  margin-left: 70px;
}

#ho-so li {
  list-style: square;
  margin-top: 10px;
  letter-spacing: 1px;
}

